body {
    background-color: #ccc;
    margin: 0;
}

.wrap {
    background-color: #fff;
    width: 1280px;
    margin: auto;
    text-align: center;
}


.content {
    width: 100%;
}

.content img {
    width: 100%;
}

.footer {
    padding-bottom: 20px;
}